
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;700&family=Zen+Antique&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.fondd{
	background: #669999;

}
.container .titulo{
	color: #00264d;
}
.container{
	position: relative ;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

}

.container .target{
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 225, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
	z-index: -5;
}
.container .target .contents{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0.5;
	transition: 0.5s;
}
.container .target:hover .contents{
	opacity: 1;
	transform: translateY(-20px);
}
.container .target .contents .imgbx{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	border: 7px solid #204060;
}
.container .target .contents .imgbx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.container .target .contents .contenbx h3{
	color: 00264d;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10 px;
	line-height: 1.1em;

}
.container .target .contents .contenbx h3 span{
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
} 
.container .target .sci{
	position: absolute;
	bottom: 60px;
	display: flex;
}
.container .target .sci li{
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
	transition-delay: calc(0.1s = var(--i));
}
.container .target:hover .sci li{
	transform: translateY(0px);
	opacity: 1;

}

.container .target .sci li a{
	color: #E7AE18;
	font-size: 24px;
}

